kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    extraMounts:
      - hostPath: __HOST_DATA_PATH__
        containerPath: /mnt/ligand-analysis
        readOnly: false
